/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Museo Sans Light",sans-serif;
  font-weight: 300;
  color: #333333;
}

.container {
  width: 1170px;
  margin: auto;
}

.section-title {
  font-size: 24px;
  text-align: center;
  font-family: "Museo Sans Bold",sans-serif;
  font-weight: 700;
}

.section-subtitle {
  display: block;
  font-size: 16px;
}

img {
  max-width: 100%;
}

.input {
  border-radius: 10px;
  border: 1px solid #dddddd;
  padding: 23px 0 23px 31px;
  font-size: 15px;
  outline: none;
}

.input:focus {
  border: 1px solid orange;
}

.button {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  padding: 18px 30px;
  outline: none;
  cursor: pointer;
  font-family: "Museo Sans Bold",sans-serif;
  font-weight: 700;
}

.arrows__left:hover, .arrows__right:hover {
  cursor: pointer;
}

.new-block {
  display: block;
}

.block-input {
  position: relative;
}

#username-error, #phone-error {
  position: absolute;
  left: 0;
  top: 65px;
  font-size: 12px;
  text-align: center;
}

@media (min-width: 992px) {
  .button:hover {
    background-color: #ffdb33;
    cursor: pointer;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .input:focus {
    border: 1px solid orange;
  }
}

@media (max-width: 1200px) {
  .container {
    width: 970px;
  }
}

@media (max-width: 992px) {
  .container {
    width: 760px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 580px;
    width: 90%;
  }
}

@media (max-width: 567px) {
  .container {
    max-width: 320px;
    width: 87%;
  }
}

.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.animated.delay-1s {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.animated.delay-2s {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.animated.delay-3s {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.animated.delay-4s {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.animated.delay-5s {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.animated.fast {
  -webkit-animation-duration: 800ms;
          animation-duration: 800ms;
}

.animated.faster {
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
}

.animated.slow {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.animated.slower {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

@media (print), (prefers-reduced-motion: reduce) {
  .animated {
    -webkit-animation-duration: 1ms !important;
            animation-duration: 1ms !important;
    -webkit-transition-duration: 1ms !important;
            transition-duration: 1ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
  }
}

@-webkit-keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
            transform: translate3d(-3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
            transform: translate3d(25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
            transform: translate3d(5px, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
            transform: translate3d(-3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
            transform: translate3d(25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
            transform: translate3d(5px, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
          animation-name: bounceInLeft;
}

@-webkit-keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
            transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
            transform: translate3d(-25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
            transform: translate3d(-5px, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
            transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
            transform: translate3d(-25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
            transform: translate3d(-5px, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.bounceInRight {
  -webkit-animation-name: bounceInRight;
          animation-name: bounceInRight;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
}

@-webkit-keyframes rotateIn {
  from {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
            transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }
  to {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes rotateIn {
  from {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
            transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }
  to {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.rotateIn {
  -webkit-animation-name: rotateIn;
          animation-name: rotateIn;
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
          animation-name: zoomIn;
}

.navbar {
  padding: 7px 0px 6px 0px;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}

.navbar__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 13px;
}

.navbar__button {
  margin-left: 30px;
  font-size: 13px;
}

.navbar__phone {
  display: inline-block;
  margin-top: 7px;
  text-decoration: none;
  color: #333333;
  font-size: 20px;
  line-height: 1.2;
  font-family: "Museo Sans Bold",sans-serif;
  font-weight: 700;
}

@media (max-width: 768px) {
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    font-size: 12px;
    padding: 15px 26px;
  }
  .navbar__logo {
    width: 90px;
  }
}

@media (max-width: 567px) {
  .navbar {
    padding: 16px 0;
  }
  .navbar__button {
    margin: 0;
    padding: 14px 26px;
    font-size: 10px;
    border-radius: 5px;
  }
}

main {
  background-color: #f5f5f5;
}

.hero {
  padding: 50px 0 55px 0;
}

.hero-image {
  max-width: 570px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  background-color: #fff;
  -webkit-box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.05), 16px 22px 35px rgba(0, 0, 0, 0.05);
          box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.05), 16px 22px 35px rgba(0, 0, 0, 0.05);
}

.hero-img {
  -o-object-fit: cover;
     object-fit: cover;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-text {
  -ms-flex-preferred-size: 46%;
      flex-basis: 46%;
}

.hero-text__title {
  font-size: 41px;
  line-height: 55px;
  margin-bottom: 38px;
  font-family: "Museo Sans Bold",sans-serif;
  font-weight: 700;
}

.hero-text__subtitle {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 68px;
  margin-left: 2px;
  font-family: "Museo Sans Bold",sans-serif;
  font-weight: 700;
}

.hero-list {
  margin: 0;
  padding: 0;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 26px;
  margin-left: 1px;
}

.hero-list__item:last-child {
  margin-bottom: 0;
}

.hero-list__image {
  width: 40px;
  height: 40px;
  border: 2px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  margin-right: 30px;
}

.hero-list__text {
  max-width: 232px;
  font-size: 14px;
  line-height: 24px;
}

@media (max-width: 1200px) {
  .hero-image {
    height: 300px;
    padding: 5px;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .hero-text {
    margin-left: 1px;
    padding: 0;
  }
  .hero-text__title {
    margin: 0;
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 8px;
  }
  .hero-text__subtitle {
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 28px;
  }
  .hero-list {
    margin-bottom: 38px;
  }
  .hero-list__item {
    margin-bottom: 20px;
  }
  .hero-list__text {
    max-width: 200px;
    font-size: 12px;
    line-height: 1.4;
  }
  .hero-list__image {
    margin-right: 15px;
  }
}

@media (max-width: 1200px) and (min-width: 768px) {
  .hero-image {
    margin-left: 30px;
  }
  .hero-text {
    padding-right: 10px;
  }
}

@media (max-width: 768px) {
  .hero {
    padding: 41px 0 50px 0;
  }
  .hero-text__subtitle {
    display: block;
  }
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-image {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (max-width: 567px) {
  .hero-text__title {
    text-align: left;
  }
  .hero-text__subtitle {
    max-width: 200px;
    text-align: left;
  }
}

.offer {
  background: url("../img/offer/offer-bg.jpg") no-repeat;
  background-size: 50% 100%;
  background-position: center right;
  position: relative;
}

.offer:before {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  content: "";
  width: 50%;
  height: 100%;
}

.offer-block {
  position: relative;
  width: 50%;
  padding: 60px 91px 92px 0;
}

.offer__title {
  max-width: 360px;
  line-height: 35px;
  margin-bottom: 19px;
  text-align: left;
}

.offer__subtitle {
  max-width: 250px;
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 19px;
}

.offer__block-input {
  display: inline-block;
}

.offer__block-input:first-child {
  margin-right: 10px;
}

.offer__input {
  margin-bottom: 30px;
  width: 240px;
}

.offer__input:first-child {
  padding-left: 24px;
}

.offer__button {
  width: 100%;
  min-height: 70px;
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 18px;
  font-family: "Museo Sans Bold",sans-serif;
  font-weight: 700;
}

.offer-feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offer-feedback__text {
  max-width: 235px;
  font-size: 15px;
  line-height: 24px;
}

.offer-feedback__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 10px;
}

.offer-feedback__callback {
  font-size: 15px;
  line-height: 24px;
}

.offer-feedback__phone {
  font-size: 15px;
  line-height: 24px;
  text-decoration: none;
  color: #333333;
  font-family: "Museo Sans Bold",sans-serif;
  font-weight: 700;
}

@media (max-width: 1200px) {
  .offer {
    padding: 52px 0;
    background-size: cover;
  }
  .offer__block-input {
    width: 100%;
  }
  .offer-form {
    padding: 0;
  }
  .offer-block {
    padding: 0;
    padding-right: 60px;
    width: 50%;
  }
  .offer__title {
    margin: 0;
    max-width: 260px;
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 16px;
  }
  .offer__subtitle {
    font-size: 14px;
    line-height: 1.3;
    margin-bottom: 25px;
  }
  .offer__input {
    width: 100%;
    margin-right: 0;
    padding: 23px 21px;
    margin-bottom: 15px;
  }
  .offer__input:first-child {
    margin-right: 0;
    padding: 23px 21px;
  }
  .offer__button {
    padding: 15px 0px;
    margin-bottom: 23px;
    font-size: 14px;
    line-height: 18px;
  }
  .offer-feedback {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 6px;
  }
  .offer-feedback__text {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 6px;
  }
}

@media (max-width: 768px) {
  .offer {
    background: #ffffff;
  }
  .offer-block {
    padding: 0;
    width: 100%;
  }
}

@media (max-width: 768px) and (min-width: 568px) {
  .offer__title {
    max-width: 400px;
    margin: auto;
    margin-bottom: 16px;
    text-align: center;
  }
  .offer__subtitle {
    margin: auto;
    margin-bottom: 25px;
    text-align: center;
  }
  .offer-feedback {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (max-width: 567px) {
  .offer__button {
    padding: 15px 60px;
  }
  .offer-feedback {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.portfolio {
  background: #f5f5f5 url("../img/portfolio/portfolio-pattern.jpg") repeat-y center left;
  background-size: 50.2% 100%;
  padding: 87px 0 95px 0;
}

.portfolio__title {
  margin: auto;
  margin-bottom: 95px;
  font-size: 30px;
  line-height: 46px;
}

.portfolio__arrows {
  max-width: 120px;
  margin: auto;
  margin-top: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider__image {
  margin: auto;
}

@media (max-width: 1200px) {
  .portfolio__title {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .portfolio {
    padding: 40px 0 60px 0;
    background-size: 0 100%;
  }
  .portfolio__title {
    margin-bottom: 41px;
    font-size: 18px;
    line-height: 1.2;
  }
  .portfolio__arrows {
    margin-top: 46px;
  }
  .slider__image {
    width: 246px;
    height: 186px;
  }
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.price {
  background-color: #fff;
  padding: 92px 0 50px 0;
  color: #000;
}

.price__title {
  margin: auto;
  margin-bottom: 50px;
  font-size: 30px;
  line-height: 45px;
}

.price__subtitle {
  display: block;
  margin-bottom: 59px;
  text-align: center;
  font-size: 20px;
}

.price__card {
  margin-bottom: 30px;
}

.price__image {
  display: block;
  max-height: 260px;
  height: 100%;
}

.card {
  text-align: center;
  border: 1px solid #e8e8e8;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card__text {
  padding: 36px 0 44px 0;
}

.card__title {
  margin: 0 0 31px 0;
  font-size: 18px;
  font-family: "Museo Sans Light",sans-serif;
  font-weight: 300;
}

.card__link {
  position: relative;
  display: inline-block;
  z-index: 1;
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  color: #333333;
  font-family: "Museo Sans Bold",sans-serif;
  font-weight: 700;
}

.card__link:after {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: -4px;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  background-color: orange;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card__image {
  position: relative;
}

.card__image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffd200), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media (min-width: 992px) {
  .card:hover {
    -webkit-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
            box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
  }
  .card:hover .card__image::before {
    opacity: 1;
  }
  .card__link:hover::after {
    height: 12px;
  }
}

@media (max-width: 1200px) {
  .price__title {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .price {
    padding: 50px 0 0 0;
  }
  .price__title {
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 25px;
  }
  .price__subtitle {
    font-size: 14px;
    margin-bottom: 61px;
  }
  .price__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    margin-bottom: 30px;
  }
  .card__image {
    width: 271px;
    height: 191px;
  }
  .card__text {
    padding: 28px 0 32px 0;
  }
  .card__title {
    margin: 0 0 12px 0;
    font-size: 14px;
  }
}

@media (max-width: 567px) {
  .price__block {
    display: inline;
  }
}

.step {
  position: relative;
  margin-bottom: 30px;
  text-align: center;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.step::after {
  content: '';
  width: 72px;
  height: 25px;
  position: absolute;
  background: url("../img/step/arrow.png") no-repeat center;
  top: -11px;
  right: -15%;
}

.step:last-child::after {
  display: none;
}

.step__image {
  width: 100px;
  height: 100px;
  border: 3px solid #ffd200;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-bottom: 25px;
}

.step__text {
  display: block;
  margin: auto;
  font-size: 14px;
  line-height: 20px;
  max-width: 155px;
}

.steps {
  padding: 48px 0 65px 0;
  background-color: #fff;
  color: #000;
}

.steps__title {
  margin-bottom: 50px;
  font-size: 30px;
  line-height: 45px;
}

.steps__subtitle {
  display: block;
  text-align: center;
  font-size: 20px;
  margin-bottom: 70px;
}

.steps-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1200px) {
  .step {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .step::after {
    display: none;
  }
  .steps {
    padding-top: 25px;
  }
  .steps-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1200px) {
  .steps__title {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .step {
    margin-bottom: 30px;
  }
  .step::after {
    display: none;
  }
  .step__text {
    font-size: 12px;
    line-height: 16px;
  }
  .steps {
    padding: 8px 0 45px 0;
  }
  .steps-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .steps__title {
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 1.2;
  }
  .steps__subtitle {
    font-size: 14px;
    margin-bottom: 34px;
  }
  .woman {
    margin-bottom: 18px;
  }
  .clock {
    margin-bottom: 28px;
  }
  .money {
    margin-bottom: 27px;
  }
}

@media (max-width: 567px) {
  .steps__block {
    display: inline;
  }
}

.recommendation {
  padding: 100px 0;
  background-color: #ffc000;
}

.recommendation-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.recommendation__title {
  margin: 0;
  font-size: 32px;
  line-height: 50px;
  color: #000000;
  text-align: center;
}

.recommendation__title-block {
  display: block;
}

@media (max-width: 1200px) {
  .recommendation {
    padding: 76px 0;
  }
  .recommendation__title {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .recommendation__title {
    font-size: 18px;
    line-height: 1.2;
  }
}

@media (max-width: 576px) {
  .recommendation__title {
    max-width: 270px;
  }
}

.guaranty {
  padding: 100px 0 225px 0;
  background-color: #fff;
  color: #000000;
}

.guaranty-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 370px;
  height: 410px;
  background-color: #f7f7f7;
}

.guaranty-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 143px;
}

.guaranty-card__text {
  display: block;
  width: 290px;
  margin: 26px 0 0 26px;
  font-size: 16px;
  line-height: 23px;
}

.guaranty-card__text-bold {
  font-family: "Museo Sans Bold",sans-serif;
  font-weight: 700;
}

.guaranty-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.guaranty__title {
  display: block;
  margin-bottom: 100px;
  text-align: center;
  font-size: 30px;
  line-height: 45px;
  font-family: "Museo Sans Bold",sans-serif;
  font-weight: 700;
}

.guaranty-item {
  width: 290px;
  text-align: center;
}

.guaranty-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.guaranty-item__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
  width: 290px;
  height: 360px;
  border: 20px solid #f5f5f5;
}

.guaranty-item__text {
  font-size: 18px;
  line-height: 24px;
}

@media (max-width: 1200px) {
  .guaranty {
    padding: 100px 0 140px 0;
  }
  .guaranty-cards {
    margin-bottom: 110px;
  }
  .guaranty__title {
    font-size: 24px;
    margin-bottom: 60px;
  }
}

@media (max-width: 1200px) and (min-width: 993px) {
  .guaranty-card {
    width: 290px;
    height: 350px;
  }
  .guaranty-card__text {
    width: 230px;
    margin: 19px 0 0 19px;
    font-size: 14px;
  }
  .guaranty-item__text {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .guaranty {
    padding: 100px 0 70px 0;
  }
  .guaranty-card {
    margin-bottom: 50px;
  }
  .guaranty-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 60px;
  }
  .guaranty-item {
    margin-bottom: 45px;
  }
  .guaranty-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .guaranty-item__block {
    margin-bottom: 30px;
  }
  .guaranty-item__text {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .guaranty {
    padding: 60px 0 45px 0;
  }
  .guaranty-card {
    width: 290px;
    height: 310px;
  }
  .guaranty-cards {
    margin-bottom: 27px;
  }
  .guaranty-card__text {
    width: 230px;
    margin: 19px 0 19px 19px;
    font-size: 14px;
  }
  .guaranty__title {
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 50px;
  }
  .guaranty-item__text {
    font-size: 14px;
  }
}

@media (max-width: 567px) {
  .guaranty-card__text {
    width: 210px;
    font-size: 12px;
  }
  .guaranty__title {
    width: 270px;
  }
  .guaranty-item__text-block {
    display: block;
  }
}

.brif {
  background-image: url(../img/brif/brif-color-bg.jpg), url(../img/brif/brif-bg.jpg);
  background-position: left center, right center;
  background-size: 50%, contain;
  background-repeat: repeat-y, no-repeat;
  padding: 98px 0 75px 0;
  color: #000;
}

.brif-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brif__interview {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.brif__form {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-left: 215px;
  text-align: center;
}

.brif__block-input {
  margin: auto;
  max-width: 370px;
}

.brif__input {
  width: 100%;
  margin-bottom: 15px;
  padding: 23px 0 23px 22px;
}

.brif__button {
  height: 70px;
  width: 100%;
  max-width: 370px;
  margin-top: 15px;
  margin-bottom: 33px;
  font-family: "Museo Sans Bold",sans-serif;
  font-weight: 700;
}

.interview__title {
  margin: 0;
  margin-bottom: 46px;
  font-size: 22px;
  line-height: 33px;
  font-family: "Museo Sans Bold",sans-serif;
  font-weight: 700;
}

.interview__subtitle {
  display: block;
  margin-bottom: 94px;
  font-size: 16px;
}

.interview-list {
  list-style: none;
  padding: 0;
}

.interview-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 26px;
  font-family: "Museo Sans Bold",sans-serif;
  font-weight: 700;
}

.interview-list__item:nth-child(2) {
  margin-bottom: 30px;
}

.interview-list__item:nth-child(3) {
  margin-bottom: 28px;
}

.interview-list__counter {
  display: inline-block;
  text-align: center;
  padding-left: 3px;
  margin-right: 32px;
  width: 35px;
  height: 35px;
  border: 2px solid #000000;
  border-radius: 50%;
  font-size: 14px;
  line-height: 35px;
}

.interview-list__text {
  font-size: 18px;
}

.three {
  margin-bottom: 15px;
}

.form__title {
  margin: auto;
  margin-bottom: 45px;
  font-size: 22px;
  line-height: 33px;
  font-family: "Museo Sans Bold",sans-serif;
  font-weight: 700;
}

.form__subtitle {
  display: block;
  margin-bottom: 51px;
  font-size: 16px;
}

.form__description {
  display: block;
  margin: auto;
  font-size: 15px;
}

@media (max-width: 1200px) {
  .brif__form {
    padding-left: 60px;
  }
  .interview {
    padding-right: 40px;
  }
  .interview__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .interview__subtitle {
    margin-bottom: 39px;
  }
  .interview-list__text {
    font-size: 14px;
  }
  .interview-list__counter {
    margin-right: 20px;
  }
  .form__title {
    margin-bottom: 15px;
  }
}

@media (max-width: 768px) {
  .brif {
    padding: 43px 0 30px 0;
    background-size: 100% 50.5%, cover;
    background-position: top center, bottom center;
    background-repeat: repeat-x, no-repeat;
  }
  .brif-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .brif__form {
    margin-top: 95px;
    padding-left: 0;
  }
  .brif__block {
    max-width: 190px;
  }
  .brif__input {
    margin-bottom: 15px;
  }
  .brif__button {
    margin-top: 0;
    font-size: 14px;
    margin-bottom: 26px;
  }
  .interview {
    padding: 0;
  }
  .interview__title {
    font-size: 18px;
    line-height: 1.2;
  }
  .interview__subtitle {
    font-size: 14px;
  }
  .interview-list__item {
    margin-bottom: 30px;
  }
  .interview-list__item:nth-child(2) {
    margin-bottom: 17px;
  }
  .interview-list__item:nth-child(3) {
    margin-bottom: 27px;
  }
  .interview-list__counter {
    margin-right: 7px;
  }
  .interview-list__text {
    font-size: 14px;
    max-width: 242px;
  }
  .form__title {
    font-size: 18px;
    line-height: 1.35;
    max-width: 278px;
    margin-bottom: 25px;
  }
  .form__subtitle {
    font-size: 14px;
    margin-bottom: 34px;
  }
  .form__description {
    display: block;
    max-width: 140px;
    font-size: 14px;
    line-height: 24px;
  }
}

@media (max-width: 567px) {
  .interview {
    max-width: 305px;
  }
  .interview__subtitle {
    max-width: 180px;
  }
}

.footer {
  position: relative;
}

.map {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
}

.contacts {
  width: 50%;
}

.contacts__block {
  font-family: "Museo Sans Bold",sans-serif;
  font-weight: 700;
}

.contacts__title {
  margin: 90px 0 93px 210px;
  font-size: 22px;
  line-height: 33px;
  font-family: "Museo Sans Bold",sans-serif;
  font-weight: 700;
}

.contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contacts-list {
  margin: 0 0 0 210px;
  padding: 0;
  list-style: none;
}

.contacts-list__icon {
  margin-top: 5px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  margin-right: 20px;
}

.contacts-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px;
}

.contacts-list__text {
  font-size: 16px;
  line-height: 26px;
}

a {
  outline: none;
  text-decoration: none;
  color: #333333;
  font-family: "Museo Sans Bold",sans-serif;
  font-weight: 700;
}

@media (max-width: 1200px) {
  .contacts__title {
    margin-left: 60px;
  }
  .contacts-list {
    margin-left: 60px;
  }
}

@media (max-width: 768px) {
  .contacts {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .contacts__title {
    margin: auto;
    margin: 65px 0 32px 2px;
    font-size: 18px;
    line-height: 1.2;
  }
  .contacts-list {
    margin-left: 2px;
    margin-bottom: 25px;
  }
  .contacts-list__icon {
    margin-right: 10px;
  }
  .contacts-list__item {
    margin-bottom: 30px;
  }
  .contacts-list__item:nth-child(2) {
    margin-bottom: 28px;
  }
  .map {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
  }
}

@media (max-width: 768px) and (min-width: 568px) {
  .contacts__new-block2 {
    display: inline;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 5;
}

.modal-success {
  display: none;
  max-width: 1500px;
  padding: 100px;
  margin: auto;
  background-color: #ffffff;
}

.modal-success__title {
  max-width: 500px;
  margin: 0;
  padding: 0;
  font-size: 22px;
  line-height: 33px;
}

.modal-success_active {
  display: block;
}

.modal-dialog {
  display: none;
  max-width: 570px;
  padding: 80px 100px;
  text-align: center;
  margin: auto;
  position: relative;
  background-color: #ffffff;
}

.modal-dialog_active {
  display: block;
}

.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
}

.modal-dialog__title {
  display: block;
  margin-bottom: 52px;
  font-size: 22px;
  line-height: 33px;
  font-family: "Museo Sans Bold",sans-serif;
  font-weight: 700;
}

.modal-dialog__subtitle {
  display: block;
  margin-bottom: 53px;
  font-size: 16px;
}

.modal-dialog__input {
  width: 100%;
  margin-bottom: 15px;
}

.modal-dialog__button {
  margin-bottom: 33px;
  width: 100%;
  font-size: 16px;
  padding: 23px 30px;
  font-family: "Museo Sans Bold",sans-serif;
  font-weight: 700;
}

.modal-dialog__text {
  display: block;
  margin: auto;
  max-width: 291px;
  margin-bottom: 13px;
  font-size: 15px;
  line-height: 20px;
}

.modal-dialog__phone {
  display: block;
  outline: none;
  text-decoration: none;
  font-size: 24px;
  color: #333333;
  font-family: "Museo Sans Bold",sans-serif;
  font-weight: 700;
}

@media (max-width: 1200px) {
  .modal-dialog {
    max-width: 470px;
    padding: 30px 50px;
  }
}

@media (max-width: 768px) {
  .modal-dialog {
    max-width: 400px;
  }
  .modal-dialog__title {
    margin-bottom: 30px;
  }
  .modal-dialog__subtitle {
    margin: auto;
    max-width: 280px;
    margin-bottom: 20px;
  }
  .modal-dialog__button {
    margin-bottom: 20px;
  }
  .modal-dialog__close {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 567px) {
  .modal-dialog {
    padding: 20px;
    max-width: 310px;
  }
  .modal-dialog__title {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .modal-dialog__subtitle {
    font-size: 12px;
  }
  .modal-dialog__button {
    font-size: 16px;
  }
  .modal-dialog__text {
    font-size: 12px;
  }
  .modal-dialog__phone {
    font-size: 18px;
  }
}

.arrow {
  position: fixed;
  bottom: 50px;
  right: 50px;
  padding: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffd200;
  border: none;
  outline: none;
  cursor: pointer;
}

.arrow_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .arrow {
    visibility: hidden;
  }
}
/*# sourceMappingURL=style.css.map */