@font-face {
  font-family: 'Museo Sans Light';
  src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot');
  src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff') format('woff'),
  url('../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
  }

@font-face {
  font-family: 'Museo Sans Bold';
  src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot');
  src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff') format('woff'),
  url('../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
  }

@mixin reg {
  font-family:"Museo Sans Light",sans-serif;
  font-weight: 300;
}

@mixin bold {
  font-family:"Museo Sans Bold",sans-serif;
  font-weight: 700;
}