* 
  box-sizing: border-box
body
  +reg
  color: $text-color
.container
  width: 1170px
  margin: auto
.section
  &-title
    font-size: 24px
    text-align: center
    +bold
  &-subtitle
    display: block
    font-size: 16px
img
  max-width: 100%
.input
  border-radius: 10px
  border: 1px solid $border-input
  padding: 23px 0 23px 31px
  font-size: 15px
  outline: none
  &:focus
    border: 1px solid $border-active
.button
  border-radius: 10px
  background-color: $main-color
  border: none
  padding: 18px 30px
  outline: none
  cursor: pointer
  +bold

.arrows
    &__left, &__right
      &:hover
        cursor: pointer

.new-block
  display: block

.block
  &-input
    position: relative

#username-error, #phone-error
  position: absolute
  left: 0
  top: 65px
  font-size: 12px
  text-align: center




@media (min-width: 992px)
  .button
    &:hover
      background-color: lighten($main-color, 10%)
      cursor: pointer
      transition: 0.2s
  .input
    &:focus
      border: 1px solid $border-active
  
@media (max-width: 1200px)
  .container
    width: 970px

@media (max-width: 992px)
  .container
    width: 760px

@media (max-width: 768px)
  .container
    max-width: 580px
    width: 90%

@media (max-width: 567px)
  .container
    max-width: 320px
    width: 87%
