.arrow
  position: fixed
  bottom: 50px
  right: 50px
  padding: 0
  width: 60px
  height: 60px
  border-radius: 50%
  display: flex
  justify-content: center
  align-items: center
  background-color: $main-color
  border: none
  outline: none
  cursor: pointer
  &_active
    display: flex
    justify-content: center
    align-items: center

@media ( max-width: 768px )
  .arrow
    visibility: hidden
  
