.brif
  background-image: url(../img/brif/brif-color-bg.jpg), url(../img/brif/brif-bg.jpg)
  background-position: left center, right center
  background-size: 50%, contain
  background-repeat: repeat-y, no-repeat
  padding: 98px 0 75px 0
  color: #000
  &-block
    display: flex
  &__interview
    flex-basis: 50%
  &__form
    flex-basis: 50%
    padding-left: 215px
    text-align: center
  &__block
    &-input
      margin: auto
      max-width: 370px
  &__input
    width: 100%
    margin-bottom: 15px
    padding: 23px 0 23px 22px
  &__button
    height: 70px
    width: 100%
    max-width: 370px
    margin-top: 15px
    margin-bottom: 33px
    +bold

.interview
  &__title
    margin: 0
    margin-bottom: 46px
    font-size: 22px
    line-height: 33px
    +bold
  &__subtitle
    display: block
    margin-bottom: 94px
    font-size: 16px
  &-list
    list-style: none
    padding: 0
    &__item
      display: flex
      align-items: center
      margin-bottom: 26px
      +bold
      &:nth-child(2)
        margin-bottom: 30px
      &:nth-child(3)
        margin-bottom: 28px
    &__counter
      display: inline-block
      text-align: center
      padding-left: 3px
      margin-right: 32px
      width: 35px
      height: 35px
      border: 2px solid #000000
      border-radius: 50%
      font-size: 14px
      line-height: 35px
    &__text
      font-size: 18px
.three
  margin-bottom: 15px

.form
  &__title
    margin: auto
    margin-bottom: 45px
    font-size: 22px
    line-height: 33px
    +bold
  &__subtitle
    display: block
    margin-bottom: 51px
    font-size: 16px
  &__description
    display: block
    margin: auto
    font-size: 15px

@media (max-width: 1200px)
  .brif
    &__form
      padding-left: 60px
  .interview
    padding-right: 40px
    &__title
      font-size: 20px
      margin-bottom: 15px
    &__subtitle
      margin-bottom: 39px
    &-list
      &__text
        font-size: 14px
      &__counter
        margin-right: 20px
  .form
    &__title
      margin-bottom: 15px

@media (max-width: 768px)
  .brif
    padding: 43px 0 30px 0
    background-size: 100% 50.5%, cover
    background-position: top center, bottom center
    background-repeat: repeat-x, no-repeat
    &-block
      flex-direction: column
    &__form
      margin-top: 95px
      padding-left: 0
    &__block
      max-width: 190px
    &__input
      margin-bottom: 15px
    &__button
      margin-top: 0
      font-size: 14px
      margin-bottom: 26px
  
  .interview
    padding: 0
    &__title
      font-size: 18px
      line-height: 1.2
    &__subtitle
      font-size: 14px
    &-list
      &__item
        margin-bottom: 30px
        &:nth-child(2)
          margin-bottom: 17px
        &:nth-child(3)
          margin-bottom: 27px
      &__counter
        margin-right: 7px
      &__text
        font-size: 14px
        max-width: 242px
  
  .form
    &__title
      font-size: 18px
      line-height: 1.35
      max-width: 278px
      margin-bottom: 25px
    &__subtitle
      font-size: 14px
      margin-bottom: 34px
    &__description
      display: block
      max-width: 140px
      font-size: 14px
      line-height: 24px

@media  (max-width: 567px)
  .interview
    max-width: 305px
    &__subtitle
      max-width: 180px
