.footer
  position: relative
.map
  position: absolute
  left: 0
  top: 0
  width: 50%
.contacts
  width: 50%
  &__block
    +bold
  &__title
    margin: 90px 0 93px 210px
    font-size: 22px
    line-height: 33px
    +bold
  &-block
    display: flex
    justify-content: flex-end
  &-list
    margin: 0 0 0 210px
    padding: 0
    list-style: none
    &__icon
      margin-top: 5px
      width: 20px
      height: 20px
      text-align: center
      line-height: 20px
      margin-right: 20px
    &__item
      display: flex
      margin-bottom: 32px
    &__text
      font-size: 16px
      line-height: 26px
a
  outline: none
  text-decoration: none
  color: $text-color
  +bold


@media (max-width: 1200px)
  .contacts
    &__title
      margin-left: 60px 
    &-list
      margin-left: 60px 

@media (max-width: 768px)
  .contacts
    flex-basis: 100%
    &__title
      margin: auto
      margin: 65px 0 32px 2px
      font-size: 18px
      line-height: 1.2
    &-list
      margin-left: 2px
      margin-bottom: 25px
      &__icon
        margin-right: 10px
      &__item
        margin-bottom: 30px
        &:nth-child(2)
          margin-bottom: 28px
  .map
    position: absolute
    width: 100%
    top: 100%
    left: 0

@media (max-width: 768px) and (min-width: 568px)
  .contacts
    &__new-block2
      display: inline