.guaranty
  padding: 100px 0 225px 0
  background-color: #fff
  color: #000000
  &-card
    display: flex
    flex-direction: column
    justify-content: space-between
    width: 370px
    height: 410px
    background-color: #f7f7f7
    &s
      display: flex
      justify-content: space-between
      margin-bottom: 143px
    &__text
      display: block
      width: 290px
      margin: 26px 0 0 26px
      font-size: 16px
      line-height: 23px
      &-bold
        +bold
  &-block
    display: flex
    justify-content: center
  &__title
    display: block
    margin-bottom: 100px
    text-align: center
    font-size: 30px
    line-height: 45px
    +bold
  &-item
    width: 290px
    text-align: center
    &s
      display: flex
      justify-content: space-around
    &__block
      display: flex
      justify-content: center
      align-items: center
      margin-bottom: 40px
      width: 290px
      height: 360px
      border: 20px solid #f5f5f5
    &__text
      font-size: 18px
      line-height: 24px

@media (max-width: 1200px)
  .guaranty
    padding: 100px 0 140px 0
    &-card
      &s
        margin-bottom: 110px
    &__title
      font-size: 24px
      margin-bottom: 60px

@media (max-width: 1200px) and (min-width: 993px)
  .guaranty
    &-card
      width: 290px
      height: 350px
      &__text
        width: 230px
        margin: 19px 0 0 19px
        font-size: 14px
    &-item
      &__text
        font-size: 14px
        
@media (max-width: 992px)
  .guaranty
    padding: 100px 0 70px 0
    &-card
      margin-bottom: 50px
      &s
        flex-direction: column
        align-items: center
        margin-bottom: 60px
    &-item
      margin-bottom: 45px
      &s
        flex-direction: column
        align-items: center
      &__block
        margin-bottom: 30px
      &__text
        font-size: 16px

@media (max-width: 768px)
  .guaranty
    padding: 60px 0 45px 0
    &-card
      width: 290px
      height: 310px
      &s
        margin-bottom: 27px
      &__text
        width: 230px
        margin: 19px 0 19px 19px
        font-size: 14px
    &__title
      font-size: 18px
      line-height: 1.2
      margin-bottom: 50px 
    &-item
      &__text
        font-size: 14px

@media (max-width: 567px)
  .guaranty
    &-card
      &__text
        width: 210px
        font-size: 12px
    &__title
      width: 270px
    &-item
      &__text
        &-block
          display: block
        