main
  background-color: $bcg-color
.hero
  padding: 50px 0 55px 0
  &-image
    max-width: 570px
    display: flex
    justify-content: center
    padding: 10px
    background-color: #fff
    box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.05), 16px 22px 35px rgba(0, 0, 0, 0.05)
  &-img
    object-fit: cover
  &-block
    display: flex
    justify-content: space-between
  &-text
    flex-basis: 46%
    &__title
      font-size: 41px
      line-height: 55px
      margin-bottom: 38px
      +bold
    &__subtitle
      display: inline-block
      font-size: 20px
      margin-bottom: 68px
      margin-left: 2px
      +bold
  &-list
    margin: 0
    padding: 0
    &__item
      display: flex
      align-items: center
      margin-bottom: 26px
      margin-left: 1px
      &:last-child
        margin-bottom: 0
    &__image
      width: 40px
      height: 40px
      border: 2px solid $main-color
      display: flex
      justify-content: center
      align-items: center
      border-radius: 50%
      margin-right: 30px
    &__text
      max-width: 232px
      font-size: 14px
      line-height: 24px

@media (max-width: 1200px)
  .hero
    &-image
      height: 300px
      padding: 5px
      flex-basis: 50%
    &-text
      margin-left: 1px
      padding: 0
      &__title
        margin: 0
        font-size: 24px
        line-height: 1.2
        margin-bottom: 8px
      &__subtitle
        font-size: 16px
        line-height: 1.2
        margin-bottom: 28px
    &-list
      margin-bottom: 38px
      &__item
        margin-bottom: 20px
      &__text
        max-width: 200px
        font-size: 12px
        line-height: 1.4
      &__image
        margin-right: 15px

@media (max-width: 1200px) and (min-width: 768px)
  .hero
    &-image
      margin-left: 30px
    &-text
      padding-right: 10px
      
@media (max-width: 768px)
  .hero
    padding: 41px 0 50px 0
   
    &-text
      &__title
        // text-align: center
      &__subtitle
        display: block
        // text-align: center
    &-block
      flex-direction: column
    &-image
      align-self: center

@media (max-width: 567px)
  .hero
    &-text
      &__title
        text-align: left
      &__subtitle
        max-width: 200px
        text-align: left