.modal
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: rgba(#000000, 0.5)
  display: none
  &_active
    display: flex
    z-index: 5

  &-success
    display: none
    max-width: 1500px
    padding: 100px
    margin: auto
    background-color: #ffffff
    &__title
      max-width: 500px
      margin: 0
      padding: 0
      font-size: 22px
      line-height: 33px
    &_active
      display: block

  &-dialog
    display: none
    max-width: 570px
    padding: 80px 100px
    text-align: center
    margin: auto
    position: relative
    background-color: #ffffff
    &_active
      display: block
    &__close
      position: absolute
      top: 0
      right: 0
    &__title
      display: block
      margin-bottom: 52px
      font-size: 22px
      line-height: 33px
      +bold
    &__subtitle
      display: block
      margin-bottom: 53px
      font-size: 16px
    &__input
      width: 100%
      margin-bottom: 15px
    &__button
      margin-bottom: 33px
      width: 100%
      font-size: 16px
      padding: 23px 30px
      +bold
    &__text
      display: block
      margin: auto
      max-width: 291px
      margin-bottom: 13px
      font-size: 15px
      line-height: 20px
    &__phone
      display: block
      outline: none
      text-decoration: none
      font-size: 24px
      color: $text-color
      +bold
 
@media (max-width: 1200px)
  .modal
    &-dialog
      max-width: 470px
      padding: 30px 50px

@media (max-width: 768px)
  .modal
    &-dialog
      max-width: 400px
      &__title
        margin-bottom: 30px
      &__subtitle
        margin: auto
        max-width: 280px
        margin-bottom: 20px
      &__button
        margin-bottom: 20px
      &__close
        width: 35px
        height: 35px

@media (max-width: 567px)
  .modal
    &-dialog
      padding: 20px
      max-width: 310px
      &__title
        font-size: 18px
        margin-bottom: 15px
      &__subtitle
        font-size: 12px
      &__button
        font-size: 16px
      &__text
        font-size: 12px
      &__phone
        font-size: 18px