.navbar
  padding: 7px 0px 6px 0px
  &-block
    display: flex
    justify-content: space-between
    align-items: center
  &__info
    display: flex 
    align-items: center
    text-align: right
  &__address
    display: flex
    flex-direction: column
    font-size: 13px
  &__button
    margin-left: 30px
    font-size: 13px
  &__phone
    display: inline-block
    margin-top: 7px
    text-decoration: none
    color: $text-color
    font-size: 20px
    line-height: 1.2
    +bold

@media (max-width: 768px)
  .navbar
    &__contacts
      display: none
    &__button
      font-size: 12px
      padding: 15px 26px
    &__logo
      width: 90px

@media (max-width: 567px)
  .navbar
    padding: 16px 0
    &__button
      margin: 0
      padding: 14px 26px
      font-size: 10px
      border-radius: 5px