.offer
  background: url("../img/offer/offer-bg.jpg") no-repeat
  background-size: 50% 100%
  background-position: center right
  position: relative
  &:before
    position: absolute
    top: 0
    left: 0
    background-color: #ffffff
    content: ""
    width: 50%
    height: 100%
  &-block
    position: relative
    width: 50%
    padding: 60px 91px 92px 0
  &__title
    max-width: 360px
    line-height: 35px
    margin-bottom: 19px
    text-align: left
  &__subtitle
    max-width: 250px
    margin-bottom: 32px
    font-size: 16px
    line-height: 19px
  &__block
    &-input
      display: inline-block
      &:first-child
        margin-right: 10px
  &__input
    margin-bottom: 30px
    width: 240px
    &:first-child
      padding-left: 24px
  &__button
    width: 100%
    min-height: 70px
    margin-bottom: 25px
    font-size: 16px
    line-height: 18px
    +bold
  &-feedback
    display: flex
    justify-content: space-between
    &__text
      max-width: 235px
      font-size: 15px
      line-height: 24px
    &__contacts
      display: flex
      flex-direction: column
      margin-right: 10px
    &__callback
      font-size: 15px
      line-height: 24px
    &__phone
      font-size: 15px
      line-height: 24px
      text-decoration: none
      color: $text-color
      +bold

@media (max-width: 1200px)
  .offer
    padding: 52px 0
    background-size: cover
    &__block
      &-input
        width: 100%
    &-form
      padding: 0
    &-block
      padding: 0
      padding-right: 60px
      width: 50%
    &__title
      margin: 0
      max-width: 260px
      font-size: 18px
      line-height: 1.2
      margin-bottom: 16px
    &__subtitle
      font-size: 14px
      line-height: 1.3
      margin-bottom: 25px
    &__input
      width: 100%
      margin-right: 0
      padding: 23px 21px
      margin-bottom: 15px
      &:first-child
        margin-right: 0
        padding: 23px 21px
    &__button
      padding: 15px 0px
      margin-bottom: 23px
      font-size: 14px
      line-height: 18px
    &-feedback
      flex-direction: column
      margin-left: 6px
      &__text
        font-size: 15px
        line-height: 24px
        margin-bottom: 6px

@media (max-width: 768px)
  .offer
    background: #ffffff
    &-block
      padding: 0
      width: 100%

@media (max-width: 768px) and (min-width: 568px)
  .offer
    &__title
      max-width: 400px
      margin: auto
      margin-bottom: 16px
      text-align: center
    &__subtitle
      margin: auto
      margin-bottom: 25px
      text-align: center
    &-feedback
      flex-direction: row

@media (max-width: 567px)
  .offer
    &__button
      padding: 15px 60px
    &-feedback
      flex-direction: column