.portfolio
  background: $bcg-color url("../img/portfolio/portfolio-pattern.jpg") repeat-y center left
  background-size: 50.2% 100%
  padding: 87px 0 95px 0
  &__title
    margin: auto
    margin-bottom: 95px
    font-size: 30px
    line-height: 46px
  &__arrows
    max-width: 120px
    margin: auto
    margin-top: 68px
    display: flex
    justify-content: space-between
.slider
  &__image
    margin: auto

@media (max-width: 1200px)
  .portfolio
    &__title
      font-size: 24px

@media (max-width: 768px)
  .portfolio
    padding: 40px 0 60px 0
    background-size: 0 100%
    &__title
      margin-bottom: 41px
      font-size: 18px
      line-height: 1.2
    &__arrows
      margin-top: 46px
  .slider
    &__image
      width: 246px
      height: 186px
