.price
  background-color: #fff
  padding: 92px 0 50px 0
  color: #000
  &__title
    margin: auto
    margin-bottom: 50px
    font-size: 30px
    line-height: 45px
  &__subtitle
    display: block
    margin-bottom: 59px
    text-align: center
    font-size: 20px
  &__card
    margin-bottom: 30px
  &__image
    display: block
    max-height: 260px
    height: 100%
.card
  text-align: center
  border: 1px solid $border-card
  transition: 0.2s
  &__text
    padding: 36px 0 44px 0
  &__title
    margin: 0 0 31px 0
    font-size: 18px
    +reg
  &__link
    position: relative
    display: inline-block
    z-index: 1
    text-decoration: none
    font-size: 16px
    line-height: 18px
    color: $text-color
    +bold
    &:after
      content: ''
      position: absolute
      z-index: -1
      bottom: -4px
      left: 0
      display: block
      width: 100%
      height: 3px
      background-color: $border-active
      transition: 0.2s
  &s
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap
  &__image
    position: relative
    &::before
      content: ''
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%)
      opacity: 0
      transition: 0.2s

@media (min-width: 992px)
  .card
    &:hover
      box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1)
      .card__image::before
        opacity: 1
    &__link
      &:hover
        &::after
          height: 12px

@media (max-width: 1200px)
  .price
    &__title
      font-size: 24px

@media ( max-width: 768px)
  .price
    padding: 50px 0 0 0
    &__title
      font-size: 18px
      line-height: 1.2
      margin-bottom: 25px
    &__subtitle
      font-size: 14px
      margin-bottom: 61px
    &__card
      flex-direction: column
      margin: auto
      margin-bottom: 30px
  .card
    &__image
      width: 271px
      height: 191px
    &__text
      padding: 28px 0 32px 0
    &__title
      margin: 0 0 12px 0
      font-size: 14px
  
@media ( max-width: 567px)
  .price
    &__block
      display: inline