.recommendation
  padding: 100px 0
  background-color: #ffc000
  &-block
    display: flex
    justify-content: center
  &__title
    margin: 0
    font-size: 32px
    line-height: 50px
    color: #000000
    text-align: center
    &-block
      display: block

@media (max-width: 1200px)
  .recommendation
    padding: 76px 0
    &__title
      font-size: 24px

@media (max-width: 768px)
  .recommendation
    &__title
      font-size: 18px
      line-height: 1.2

@media (max-width: 576px)
  .recommendation
    &__title
      max-width: 270px
