.step
  position: relative
  margin-bottom: 30px
  text-align: center
  flex-basis: 20%
  &::after
    content: ''
    width: 72px
    height: 25px
    position: absolute
    background: url('../img/step/arrow.png') no-repeat center
    top: -11px
    right: -15%
  &:last-child
    &::after
      display: none
  &__image
    width: 100px
    height: 100px
    border: 3px solid $main-color
    border-radius: 50%
    display: flex
    justify-content: center
    align-items: center
    margin: auto
    margin-bottom: 25px
  &__text
    display: block
    margin: auto
    font-size: 14px
    line-height: 20px
    max-width: 155px
  &s
    padding: 48px 0 65px 0
    background-color: #fff
    color: #000
    &__title
      margin-bottom: 50px
      font-size: 30px
      line-height: 45px
    &__subtitle
      display: block
      text-align: center
      font-size: 20px
      margin-bottom: 70px
    &-block
      display: flex

@media (max-width: 1200px)
  .step
    flex-basis: 50%
    &::after
      display: none
    &s
      padding-top: 25px
      &-block
        flex-wrap: wrap
        justify-content: center
   
@media (max-width: 1200px)
  .step
    &s
      &__title
        font-size: 24px

@media (max-width: 768px)
  .step
    margin-bottom: 30px
    &::after
      display: none
    &__text
      font-size: 12px
      line-height: 16px
    &s
      padding: 8px 0 45px 0
      &-block
        flex-direction: column
      &__title
        margin-bottom: 25px
        font-size: 18px
        line-height: 1.2
      &__subtitle
        font-size: 14px
        margin-bottom: 34px
  .woman
    margin-bottom: 18px
  .clock
    margin-bottom: 28px
  .money
    margin-bottom: 27px

@media (max-width: 567px)
  .steps__block
    display: inline
  